






Product 1 <button onclick="addToCart('Product 1')">Add to cart</button><br>
Product 2 <button onclick="addToCart('Product 2')">Add to cart</button><br>
Product 3 <button onclick="addToCart('Product 3')">Add to cart</button><br><br>

<h2 id="cart">
	
</h2>

<script>
	refreshCart();

	function removeFromCart(productName) {
		var obj = new XMLHttpRequest();
		
		obj.open("GET", "remove_from_cart.php?pname="+productName, true);
		obj.send();

		obj.onreadystatechange = function() {
			if(obj.status == 200 && obj.readyState == 4) {
				refreshCart();
			}
		}
	}

	function refreshCart() {
		var obj = new XMLHttpRequest();

		obj.open("GET", "get_cart.php", true);
		obj.send();

		obj.onreadystatechange = function() {
			if(obj.status == 200 && obj.readyState == 4) {
				document.getElementById("cart").innerHTML = obj.responseText;
			}
		}
	}

	function addToCart(productName) {
		var obj = new XMLHttpRequest();

		obj.open("GET", "add_to_cart.php?pname="+productName, true);
		obj.send();

		obj.onreadystatechange = function() {
			if(obj.status == 200 && obj.readyState == 4) {
				alert("Added to cart");
				refreshCart();
			}
		}
	}
</script>